.DS_Store
.idea/

front/node_modules/
front/dist/
front/.idea/
front/npm-debug.log
front/yarn-error.log
front/.DS_Store

back/node_modules/
back/public/storage/
back/storage/*.key
back/vendor/
back/.idea/
back/Homestead.json
back/Homestead.yaml
back/.env
